html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Reset finished */


/*
  ========================================
  Grid
  ========================================
*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Box-sizing set */

.container {
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

h1, h2, h3, h4, h5, p {
    text-align: center;
}

h1, h2, h3, h4 {
    color: #990000;
}

h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    line-height: 44px;
    font-weight: 800;
}

h3 {
    font-size: 21px;
    font-weight: 800;
}

h4 {
    font-size: 18px;
    font-weight: 800;
}

h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}

p {
    text-align: justify;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 800px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal-leading-zero;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

html {
    font: 10px sans-serif;
}

rect {
    fill: #AAA;
    /* #CCC light gray, #BBB mid gray, #AAA dark gray*/
    cursor: pointer;
}

.active {
    fill: #990000;
    /* #990000 UU red , orange*/
    stroke: #990000;
}

.activelink {
    fill: none;
    stroke: #990000;
    stroke-width: 2.5px;
}

.label {
    fill: white;
    font-family: sans-serif;
    pointer-events: none;
    font-size: 12px;
}

.link {
    fill: none;
    stroke: #AAA;
    /* #CCC light gray, #BBB mid gray, #AAA dark gray*/
    stroke-width: 1.5px;
}

.witurl {
    fill: #5d5858;
    /* #CCC light gray, #BBB mid gray, #AAA dark gray*/
    cursor: pointer;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: #AAA;
    color: white;
    border-radius: 2px;
    text-align: center;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #AAA;
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}
